/* ---------------MAIN specialization & team */
.specialization-title,
.team-title,
.clients-title {
    font-size: 36px;
    line-height: 1.16;
    font-weight: var(--font-weight-700);
    text-align: center;
    color: var(--title-text-color);
}