.specialization-section {
    padding-bottom: 94px;
}

.specialization-title {
    margin-bottom: 50px;
}

.specialization-container {
    display: flex;
    justify-content: space-between;
}

.specialization-item {
    position: relative;
}

.specialization-top-container {
    background: rgba(47, 48, 58, 0.8);

    width: 100%;
    position: absolute;
    bottom: 0;
}

.specialization-top-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

    padding: 27px;
}