.team-section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.team-title {
    margin-bottom: 50px;
}

.team-container {
    display: flex;
    justify-content: space-between;
}

.team-card {
    background: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-descr {
    padding: 30px 0;
}

.team-name {
    color: var(--title-text-color);
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-16);
    line-height: 1.19;
    text-align: center;

    margin-bottom: 10px;
}

.team-profession {
    color: var(--primary-text-color);
    font-size: var(--font-size-16);
    line-height: 1.19;
    text-align: center;
    margin: 16px;
}

/* *********************************soc-icon */

.team-soc-list,
.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-soc-item,
.footer-soc-item {
    width: 44px;
    height: 44px;
}

.team-soc-link,
.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link {
    background: rgba(255, 255, 255, 0.1);
}

.team-soc-icon {
    fill: #AFB1B8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
    fill: white;
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
    fill: white;
}

.team-soc-link:hover,
.team-soc-link:focus,
.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #2196F3;
}